<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Mạnh Quyết 04 - Dự án laptopshop" />
    <meta name="author" content="Mạnh Quyết 04" />
    <title>Manager Users - Admin</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>

  <body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
    <div id="layoutSidenav">
      <%- include('../layout/sidenav'); -%>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Manage Users</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item active">
                <a href="/admin/user">User</a>
              </li>
            </ol>
            <div class="row">
              <div class="col-6 mx-auto">
                <div>
                  <h4>View detail user</h4>
                  <form
                    action="/admin/update-user/<%= user.id %>"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="mb-3">
                      <label class="form-label">Full name</label>
                      <input
                        value="<%= user.fullName %>"
                        type="text"
                        name="fullName"
                        placeholder="Nhập tên"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Username</label
                      >
                      <input
                      value="<%= user.username %>"
                        type="email"
                        name="username"
                        placeholder="Nhập email"
                        class="form-control"
                      />
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <label class="form-label">Phone</label>
                        <input
                        value="<%= user.phone %>"
                          type="text"
                          class="form-control"
                          name="phone"
                          placeholder="Nhập số điện thoại"
                        />
                      </div>
                      <div class="col-md-6">
                        <label class="form-label">Role</label>
                        <select name="role" class="form-select">
                          <% roles.forEach((role,index) => { %>
                          <option value="<%=role.id %>" <%= role.id === user.roleId ? 'selected' : '' %>>
                            <%- role.name %>
                          </option>
                          <%})%>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Avatar</label>
                      <input
                        name="avatar"
                        class="form-control"
                        type="file"
                        id="avatarFile"
                        accept=".png, .jpg, .jpeg"
                      />
                    </div>
                    <% if (user.avatar) { %>
                            <img
                      style="max-height: 250px; display: block"
                      alt="avatar preview"
                      id="avatarPreview"
                      src="/images/<%= user.avatar %>"
                    />
                        <% } else { %>
                        <img
                      style="max-height: 250px; display: none"
                      alt="avatar preview"
                      id="avatarPreview"
                    />
                        <% } %>

                
                    <div class="mb-3">
                      <label class="form-label">Address</label>
                      <input
                      value="<%= user.address %>"
                        type="text"
                        name="address"
                        placeholder="Nhập địa chỉ"
                        class="form-control"
                      />
                    </div>

                    <button type="submit" class="btn btn-warning">
                      Update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include('../layout/footer'); -%>
      </div>
    </div>
    <script>
      $(document).ready(() => {
        const avatarFile = $("#avatarFile");
        avatarFile.change(function (e) {
          const imgURL = URL.createObjectURL(e.target.files[0]);
          $("#avatarPreview").attr("src", imgURL);
          $("#avatarPreview").css({ display: "block" });
        });
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
